<div class="row">
  <div class="col-xs-12 col-md-6 col-sm-12 col-lg-3">
    <statsCard [data]="card1"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <statsCard [data]="card2"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <form [formGroup]="predictorForm">
        <div class="form-group">
          <label for="sel1">Select list:</label>
        <select class="form-control" id="sel1" formControlName="course" #course>
            <option>BCO</option>
            <option>IAP</option>
          </select>
        </div>
        <div class="form-group">
          <label for="test1">Test 1</label>
          <input type="number" class="form-control" id="test1" aria-describedby="emailHelp" placeholder="Enter Test 1 Mark" formControlName="test1" #test1>
        </div>
        <div class="form-group">
          <label for="test2">Test 2</label>
          <input type="number" class="form-control" id="test2" placeholder="Enter Test 2 Mark (Optional)" formControlName="test2" #test2>
        </div>
        <button type="submit" (click)="doPredict(course.value, test1.value, test2.value)" [disabled]="predictorForm.prestine || predictorForm.invalid" class="btn btn-primary">Submit</button>
      </form>
  </div>
  <!-- <div class="col-xs-12 col-md-6 col-lg-3">
    <form action="/action_page.php">
      IAP <br>
      Test 1 <input type="text" name="IAPTest1" value=""><br><br>
      Test 2 <input type="text" name="IAPTest1" value="">
      <input type="submit" value="Predict">
     
      </form>
  </div> -->
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Historical Pass Rates</div>
      <div class="panel-body">
        <div class="canvas-wrapper" >
          <canvas baseChart style="min-height: 300px;width: 100%; height: 50vh"
                  [options]="ChartOptions"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div><!--/.row-->


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default ">
      <div class="panel-heading">
        Predicted results
      </div>
      <li *ngFor="let predicted of prediction | async">
        <H2>{{predicted}}</H2>
      </li>
      <div class="panel-body timeline-container">
       
      </div>
    </div>
  </div>
  
</div>

